### Emacs ###
*~
\#*\#
*\#

*.log

# Publick project   
.public/*
.develop/*
.release/*
public/*
server/*

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
temp-*