@import './css-settings.styl'

html
	min-height: 100%
	margin: 0px
	padding: 0px
	height: 100%

body
	margin: 0px
	padding: 0px
	font: font.text
	display: grid
	grid-template-rows: auto 1fr auto
	color: color.text
	min-width: 642px
	min-height: 100%
	::selection
		background: color.mark
		box-shadow: none
		outline: 0px solid transparent
	:focus
		background: transparent
		box-shadow: none
		outline: 0px solid transparent

	::-internal-autofill-selected:hover,
	::-internal-autofill-selected:focus,
	::-internal-autofill-selected:active
		background-color: white !important
		color: color.text
