@import '~@fortawesome/fontawesome-free/css/all.css';

html
	min-height: 100%
	margin: 0px
	padding: 0px
	height: 100%

body
	margin: 0px
	padding: 0px
	font: normal normal 400 normal 13px / normal -apple-system, "Segoe UI", system-ui, Roboto, "Noto Sans", "Helvetica Neue", sans-serfi
	display: grid
	grid-template-rows: auto 1fr auto
	color: rgb( 64, 64, 64 )
	min-width: 642px
	min-height: 100%
	::selection
		background: rgb(214,214,214)
		box-shadow: none
		outline: 0px solid transparent
	:focus
		background: transparent
		box-shadow: none
		outline: 0px solid transparent

	::-internal-autofill-selected:hover,
	::-internal-autofill-selected:focus,
	::-internal-autofill-selected:active
		background-color: white !important
		color: rgb( 64, 64, 64 )
